<div class="container">
    <h1>How did I do this project?</h1>
    <p>
        The first reason of that I did this project is to understand well how HTML and CSS work with Angular 10. For Css, I didn't use bootstrap and
        Whole design codes that contain CSS and HTML, were writen by myself as I could. Another thing that I get from this project is that Programming 
        style with Angular is too similar to .Net MVC.View in MVC could be considered components' html files. Controllers are ts files.
    </p>
    <p>In this project, I used 7 extra components except app component and 1 service file for reading local JSON file. This means that I didn't use
        any web service like Rest API. 
    </p>
</div>
